"Project Battleship/Library"

"Project Battleship/Temp"

"Project Battleship/.vs"

"Project Battleship/Project Battleship.sln"

"Project Battleship/Project Battleship.Plugins.csproj"

"Project Battleship/Project Battleship.csproj"

